@font-face {
    font-family:'Barlow regular', sans-serif;
    src: url(../../fonts/Barlow/Barlow-Regular.ttf);
}
@font-face {
    font-family: 'Fraunces', serif;
    src: url(../../fonts/Fraunces/static/Fraunces_9pt_Soft-Black.ttf);
}
@font-face {
    font-family: 'Fraunces regular', serif;
    src: url(../../fonts/Fraunces/static/Fraunces_9pt_Soft-Regular.ttf);
}
@font-face {
    font-family: 'Fraunces regular', serif;
    src: url(../../fonts/Fraunces/static/Fraunces_9pt_SuperSoft-Bold.ttf);
}
@font-face {
    font-family: 'Fraunces softbold', serif; 
    src: url(../../fonts/Fraunces/static/Fraunces_144pt-Black.ttf);
}