@import './fonts';
$header_font_title: 'Fraunces softbold', serif; 
$main_font:'Barlow regular', sans-serif;
$more-font: 'Fraunces regular', serif;
$primary_color: rgba(51, 61, 75, 1);
$secondary_color: rgba(14, 135, 132, 1);
$button_color: rgba(102, 210, 207, 1);
$third_color:rgba(253, 214, 186, 1);
$white_color: #ffffff;
$fourth-color:rgba(131, 136, 143, 1);